*{
    box-sizing: border-box;
 }

body{
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
}

header{
    padding-top: 3.7vh;
    padding-left: 2.5vw;
    height: 8.93vh;
}

.divHeader{
    display: flex;
    align-items: flex-start;
}

header img{
    height: 5vh;
}

.conteiner{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 83vh;
}

.encriptacion{
    display: flex;
    width: 70%;
    justify-content: end;
}

.formEncriptacion{
    display: flex;
    flex-direction: column;
    width: 83%;
}

.divTextarea{
    display: flex;
    align-self: center;
    width: 100%;
    height: 61.4vh;
}

.textareaEncriptacion{
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    background: #E5E5E5;
    font-size: 4vh;
    font-weight: bold;
    color: #0A3871;
    border: 0 solid transparent;
    outline: none;
    resize: none;
}

textarea::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 0.8em;
    color:#0A3871;
}

.textareaEncriptacion:hover{
    cursor: pointer;
}

.divAvisoEscritura{
    margin-top: 1vh;
}

.avisoEscritura{
    font-size: 2.5vh;
}

.signoExclamacion{
    height: 0.8em;
    width: auto;
    margin-right: 0.4em;
}

.divBotonesFormulario{
    display: flex;
    border: none;
    width: 100%;
    height: 8.5vh;
    margin-top: 1.4vh;
}

.botonesFormulario{
    display: flex;
    justify-content: space-between;
    border: none;
    height: 100%;
    width: 100%;
}

.botonEncriptar{
    height: 100%;
    width: 49%;
    border-radius: .8em;
    background: #0A3871;
    color: white;
    font-size: 1.2em;
    border: 0.1em solid #0A3871;
}

.botonEncriptar:hover{
    cursor: pointer;
    background: #000D50;
    transition: .7s all;
}

.botonDesencriptar{
    background: #E5E5E5;
    height: 100%;
    width: 49%;
    border-radius: .8em;
    color: #0A3871;
    font-size: 1.2em;
    border: 0.1em solid #0A3871;
}

.botonDesencriptar:hover{
    cursor: pointer;
    background: #D3D3D3;
    transition: .7s all;
}

.desencriptacion{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 83vh;
}

.conteiner2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 75%;
    height: 100%;
    border-radius: 1.5em;
}

.contenedorImagenMuñeco{
    display: flex;
    width: 98%;
    height: 30vh;
    margin: 0 auto 0 auto;
}

.imgMuñeco{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.avisoTextoFaltante{
    width: 93%;
    margin: 2vh auto 0 auto;
    text-align: center;
    font-size: 3vh;
    font-weight: bolder;
    color: #343A40;
}

.avisoIngresarTexto{
    width: 100%;
    margin: 2vh auto 0 auto;
    text-align: center;
    font-size: 2.1vh;
    color: #343A40;
}

.textoDesencriptado{
    display: none;
    width: 85%;
    height: 70%;
    background: white;
    font-size: 3vh;
    font-weight: bold;
    color: #495057;
    border: 0 solid transparent;
    outline: none;
    resize: none;
}

.botonCopiar{
    display: none;
    height: 8.5vh;
    width: 80%;
    border-radius: .8em;
    color: #0A3871;
    background: white;
    font-size: 1.2em;
    font-weight: bold;
    border: 0.1em solid #0A3871;
}

.botonCopiar:hover{
    cursor: pointer;
    background: #D3D3D3;
    transition: .5s all;
}

footer{
    display: flex;
    justify-content: center;
    background: white;
    width: 100%;
    height: 5vh;
    margin: 2.9vh auto 0 auto;
}

footer ul{
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 7.4em;
    font-size: 1.31vh;
}

footer li{
    box-sizing: border-box;
    justify-content: center;
    width: 5vh;
}

.icon:hover {
    cursor: pointer;
    color: #000D50;
    transition: .7s all;
}

footer i{
    font-size: 4em;
    color: #0A3871;
}

.invisible{
    display:none;
}

.block{
    display: block;
}

@media only screen and (max-width: 821px) {

header{
    height: 8.93vh;
}

.conteiner{
    flex-direction: column;
    height: 85.9vh;
    align-items: center;
}

.encriptacion{
    width: 89%;
    justify-content: center;
}

.formEncriptacion{
    width: 100%;
}

.divTextarea{
    height: 47vh;
}

.botonesFormulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.desencriptacion{
    width: 100%;
    align-items: center;
}

.conteiner2{
    height: 20vh;
    width: 88%;
}

.contenedorImagenMuñeco{
    display: none;
}

.avisoTextoFaltante{
    margin-top: 0;
}

footer{
    margin-top: 0;

}

.extendConteiner{
    height: 130vh;
}

.extendConteiner2{
    height: 60vh;
}

}

@media only screen and (max-width: 415px) {

.encriptacion{
    height: 60.5vh;
}

.divTextarea{
    height: 38vh;
}

.divBotonesFormulario{
    height: 18vh;
}

.botonesFormulario{
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.botonEncriptar{
    display: block;
    margin: auto;
    min-width: 95%;
    height: 45%;
}

.botonDesencriptar{
    display: block;
    bottom: 0;
    min-width: 95%;
    height: 45%;
}

.avisoEscritura{
    font-size: 2vh;
}

}