*{
    box-sizing: border-box;
 }

body{
    position: relative;
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

header{  
    display: inline-block;  
    margin-top: 3vh;
    margin-left: 2.5em;
    width: fit-content;
}

.divHeader{
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

header img{
    display: inline-block;
    height: 5vh;
    width: auto;
}

.conteiner{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.encriptacion{
    display: inline-block;
    width: 51%;
    margin: auto 0 auto 23em;
}

.formEncriptacion{
    width: 100%;
    height: 100%;
}

.divTextarea{
    display: block;
    top: 0;
    width: 100%;
    height: 35em;
}

.textareaEncriptacion{
    width: 100%;
    height: 100%;
    background: #E5E5E5;
    font-size: 3.5em;
    font-weight: bold;
    color: #0A3871;
    border: 0 solid transparent;
    outline: none;
    resize: none;
}

textarea::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 0.8em;
    color:#0A3871;
}

.textareaEncriptacion:hover{
    cursor: pointer;
}

.divAvisoEscritura{
    margin-top: 15.5em;
    height: 2.8vh;
}

.avisoEscritura{
    height: fit-content;
    font-size: 2em;
}

.signoExclamacion{
    height: 0.9em;
    width: auto;
    margin-right: 0.5em;
}

.divBotonesFormulario{
    display: flex;
    border: none;
    width: 100%;
    height: 6.5em;
    margin-top: 1.5vh;
}

.botonesFormulario{
    position: relative;
    display: flex;
    justify-content: space-between;
    border: none;
    height: 100%;
    width: 100%;
}

.botonEncriptar{
    height: 100%;
    width: 49%;
    border-radius: 1.563em;
    background: #0A3871;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    border: 0.1em solid #0A3871;
}

.botonEncriptar:hover{
    cursor: pointer;
    background: #000D50;
    transition: .7s all;
}

.botonDesencriptar{
    background: #E5E5E5;
    height: 100%;
    width: 49%;
    border-radius: 1.563em;
    color: #0A3871;
    font-size: 1.7em;
    font-weight: bold;
    border: 0.1em solid #0A3871;
}

.botonDesencriptar:hover{
    cursor: pointer;
    background: #D3D3D3;
    transition: .7s all;
}

.desencriptacion{
    background: white;
    width: 25%;
    height: 68em;
    margin: 0 0 0 13em;
    border-radius: 4vh;
}

.contenedorImagenMuñeco{
    width: 100%;
    height: 30em;
    margin-top: 9em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.imgMuñeco{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.avisoTextoFaltante{
    width: 100%;
    height: fit-content;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
    color: #343A40;
}

.avisoIngresarTexto{
    width: 100%;
    height: fit-content;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
    font-size: 2em;
    color: #343A40;
}

.textoDesencriptado{
    box-sizing: border-box;
    display: none;
    width: 85%;
    height: 75%;
    margin: 1em 1em 0 2em;
    background: white;
    font-size: 3em;
    font-weight: bold;
    color: #495057;
    border: 0 solid transparent;
    outline: none;
    resize: none;
}

.botonCopiar{
    display: none;
    margin: 2.41em 1em 1em 2.55em; 
    height: 3.824em;
    width: 80%;
    border-radius: 1.563em;
    color: #0A3871;
    background: white;
    font-size: 1.7em;
    font-weight: bold;
    border: 0.1em solid #0A3871;
}

.botonCopiar:hover{
    cursor: pointer;
    background: #D3D3D3;
    transition: .5s all;
}

footer{
    display: flex;
    justify-content: center;
    background: white;
    width: 100%;
    height: 5vh;
    margin: 2.9vh auto 0 auto;
}

footer ul{
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 3.9em;
    width: 7.4em;
    font-size: 1.3vh;
}

footer li{
    box-sizing: border-box;
    justify-content: center;
    height: 3.9em;
    width: 5vh;
}

.icon:hover {
    cursor: pointer;
    color: #000D50;
    transition: .7s all;
}

footer i{
    font-size: 4em;
    color: #0A3871;
}

.invisible{
    display:none;
}

.block{
    display: block;
}

@media only screen and (max-width: 105em) {
header {
    margin-left: 0;
    margin-top: 4vh;
}

.conteiner{
    flex-direction: column;
}

.encriptacion{
    margin: 5.3vh auto 0 auto;
    height: 58.2vh;
    width: 90%;
}

.divTextarea{
    height: 43.8vh;
}

.botonesFormulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.botonEncriptar{
    width: 48%;
}

.botonDesencriptar{
    right: 0;
    width: 48%;
}

.divAvisoEscritura{
    margin-top: 2vh;
}

.avisoEscritura{
    height: fit-content;
    font-size: 1.5em;
}

.signoExclamacion{
    height: 0.8em;
}

.desencriptacion{
    width: 90%;
    height: fit-content;
    margin: 5.39vh auto 2.6em auto;
}

.textoDesencriptado{
    height: 10em;
    margin: 1em auto 0 auto;
}

.contenedorImagenMuñeco{
    display: none;
    margin-top: 5vh;
}

.avisoTextoFaltante{
    margin-top: 4vh;
    font-size: 2em;
}

.avisoIngresarTexto{
    margin-bottom: 4vh;
    font-size: 1.7em;
}

.botonCopiar{
    width: 60%;
    margin: 1.5em auto;
    border-radius: 1.563em;
}

footer{
    margin: 0;

}

}

@media only screen and (max-width: 48em) {

header img{
    height: 5vh;
    width: auto;
}


.conteiner{
    flex-direction: column;
    height: fit-content;
}

.encriptacion{
    margin: 5vh auto 0 auto;
    height: 58.3vh;
    width: 90%;
}

.divTextarea{
    height: 40vh;
}

.textareaEncriptacion{
    font-size: 4vh;
}

.divBotonesFormulario{
    height: 16vh;
    margin-top: 1vh;
}

.botonesFormulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.botonEncriptar{
    display: block;
    margin: auto;
    min-width: 95%;
    height: 45%;
    font-size: 3vh;
    font-weight: 100;
}

.botonDesencriptar{
    display: block;
    bottom: 0;
    min-width: 95%;
    height: 45%;
    font-size: 3vh;
    font-weight: 100;
}

.divAvisoEscritura{
    margin-top: 0;
    height: fit-content;
}

.avisoEscritura{
    font-size: 2.1vh;
}

.signoExclamacion{
    height: 0.8em;
}

.desencriptacion{
    width: 90%;
    height: fit-content;
    margin: 3.9vh auto 3.5vh auto;
}

.textoDesencriptado{
    height: 10em;
    margin: 1em auto 0 auto;
}

.contenedorImagenMuñeco{
    display: none;
}

.avisoTextoFaltante{
    margin-top: 3.5vh;
    font-size: 2.5vh;
    font-style: normal;
}

.avisoIngresarTexto{
    margin-bottom: 3.5vh;
    font-size: 2.2vh;
}

.botonCopiar{
    width: 60%;
    margin: 1.5em auto;
    border-radius: 1.563em;
}

footer{
    height: 5vh;

}

}